<!-- Course Content -->
<section class="course-content">
  <div class="container content-container">
    <div class="main-content">
      <div class="faq-wrapper">
        <div class="faq-container">
          <div class="faq-item">
            <div class="faq-question">
              <span>¿Necesito Conocimientos Previos?</span>
              <div class="faq-arrow">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10l5 5 5-5z" />
                </svg>
              </div>
            </div>
            <div class="faq-answer">
              <p>
                No, nuestro curso está diseñado para principiantes y expertos
                por igual.
              </p>
            </div>
          </div>

          <div class="faq-item">
            <div class="faq-question">
              <span>¿Cómo Accedo A Las Simulaciones?</span>
              <div class="faq-arrow">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10l5 5 5-5z" />
                </svg>
              </div>
            </div>
          </div>

          <div class="faq-item">
            <div class="faq-question">
              <span>¿La Certificación Tiene Costo?</span>
              <div class="faq-arrow">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10l5 5 5-5z" />
                </svg>
              </div>
            </div>
            <div class="faq-answer">
              <p>
                Consulta nuestros planes de precios para más información sobre
                certificaciones.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Comment Section -->
    </div>
  </div>
</section>
