<header>
  <div class="container">
    <div class="main-header">
      <div class="logo">
        <img src="./assets/logo_small.png" alt="CyberSafe Logo" />
      </div>

      <ul class="nav-menu">
        <li><button (click)="navigateToStart()">Inicio</button></li>
        <li><button (click)="navigateToCourses()">Cursos</button></li>
        <li><button (click)="navigateToACourse()">Blog</button></li>
        <li><button (click)="navigateTo('foro')">Foro</button></li>
        <li><button (click)="navigateTo('seguridad')">Seguridad</button></li>
        <li><button (click)="navigateTo('premium')">Premium</button></li>
      </ul>

      <div class="auth-buttons">
        <ng-container *ngIf="authService.getCurrentUser(); else loginRegister">
          <span class="user-name" (click)="navigateToUser()">{{ userDisplayName }}</span>
          <button (click)="logout()" class="btn btn-outline">Logout</button>
        </ng-container>
        <ng-template #loginRegister>
          <a
            [routerLink]="isLogin ? '/login' : '/register'"
            (click)="toggleAuth()"
            >{{ isLogin ? "Login" : "Register" }}</a
          >
          <div class="user-icon" (click)="navigateToUser()">
            <i class="fas fa-user"></i>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>