<header>
    <div class="container">
        <div class="main-header">
            <div class="logo">
                <img src="./assets/logo_small.png" alt="CyberSafe Logo">
            </div>
            
            <ul class="nav-menu">
                <li><button (click)="navigateToStart()">Inicio</button></li>
                <li><button (click)="navigateToCourses();">Cursos</button></li>
                <li><button (click)="navigateToACourse()">Blog</button></li>
                <li><button href="#">Foro</button></li>
                <li><button href="#">Seguridad</button></li>
                <li><button href="#">Premium</button></li>
            </ul>
            
            <div class="auth-buttons">
                <a href="#">Login / Register</a>
                <div class="user-icon">
                    <i class="fas fa-user"></i>
                </div>
            </div>
        </div>
    </div>
</header>