<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defensa Contra Phishing: No Caigas En La Trampa - CyberSafe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- Course Content -->
    <section class="course-content">
        <div class="container content-container">
            <div class="main-content">
                <div class="profile-card">
                    <div class="profile-image">
                        <img
                            [src] = "instructor?.foto"
                        />
                    </div>
                    
                    <div class="profile-info">
                        <h1 class="profile-name">{{nombreProfesor}}</h1>
                        <p class="profile-title">{{instructor?.descripcion}}</p>
                        
                        <h3 style="margin-bottom: 10px; color: #555;">Experiencia:</h3>
                        <ul class="experience-list">
                            @for (experiencia of instructor?.experiencia; track $index) {
                                <li>{{ experiencia }}</li>
                            }
                        </ul>
                        
                        <div class="stats">
                            <div class="stat-item">
                                <span class="stat-icon"><i class="fas fa-graduation-cap"></i></span>
                                <span>{{ instructor?.numero_estudiantes }}</span>
                            </div>
                        </div>
                        
                        <div class="social-links">
                            <span class="social-text">Follow:</span>
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
</body>
</html>